<div class="container d-flex justify-content-center p-5">
  <div class="rounded p-5 shadow">
    <h1 class="mb-3" style="color: #883bed;">Sign In</h1>
    <form (ngSubmit)="signIn()">
      <div class="row">
        <label for="email" class="col">Email:</label>
        <input type="email" id="email" name="username" [(ngModel)]="username" #email="ngModel" required class="col-8">
        <div  *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
          <small class="text-center text-danger my-4" *ngIf="email.errors?.['required']">*email required</small>
         </div>
      </div>
      <div class="row mt-2">
        <label for="password" class="col">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" #var3="ngModel" required class="col-8">
        <div *ngIf="var3.invalid && (var3.dirty || var3.touched)" class="alert">
          <small class="text-center text-danger my-4" *ngIf="var3.errors?.['required']">*Password required</small>
        </div>
      </div>
      <div class="container d-flex justify-content-around mt-4">
        <button type="submit" class="btn btn-primary" [disabled]="email.invalid || var3.invalid">Sign In</button>
        <button (click)="redirect()" class="btn btn-warning text-white">register</button></div>
    </form>
  </div>
  </div>
  