<div class="container d-flex justify-content-center p-5">
  <div class="rounded p-5 shadow">
    <h1 class="mb-3" style="color: #883bed;">Sign In</h1>
    <form (ngSubmit)="signIn()">
      <div class="row">
        <label for="email" class="col">Email:</label>
        <input type="email" id="email" name="username" [(ngModel)]="username" required class="col-8">
      </div>
      <div class="row mt-2">
        <label for="password" class="col">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required class="col-8">
      </div>
      <div class="container d-flex justify-content-around mt-4"><button type="submit" class="btn btn-primary">Sign In</button>
        <button (click)="redirect()" class="btn btn-info">register</button></div>
    </form>
  </div>
  </div>
  