<!-- Container (About Section) -->
<div id="about" class="container-fluid">
    <h2 class="text-center">About Us</h2><br>
    <div class="row">
      <div class="col-sm-8">
        <h4 class="text-center">About Our Inventory Management System</h4><br>
        <p class="text-center shadow p-4">Our inventory management system is a state-of-the-art solution designed to help businesses streamline their inventory tracking and management processes. With our system, you can easily keep track of inventory levels, set automatic reorder points, and monitor stock movements in real-time.</p>
      </div>
    </div>
  </div>
  
  <div class="container-fluid bg-grey mt-3 p-4">
    <div class="row">
      <div class="col-sm-4">
        
      </div>
      <div class="col-sm-8 shadow ">
        <h2 class="text-center">Our Values</h2><br>
        <h4><strong>Our Mission:</strong></h4> <p> At our company, our mission is to provide businesses with the tools they need to succeed. We believe that effective inventory management is a key component of any successful business, and we are dedicated to helping our clients achieve their goals by providing them with the best inventory management software available.</p> <br>
      </div>
    </div>
  </div>
  <div id="about" class="container-fluid">
    <div class="row">
      <div class="col-sm-8 shadow p-4">
        <h4 class="text-center">Our Team
        </h4><br>
        <p class="text-center">Our team is made up of experienced software developers, designers, and project managers who are passionate about helping businesses succeed. We work closely with our clients to understand their unique needs and develop customized solutions that meet their specific requirements.</p>
      </div>
    </div>
  </div>