<h4 class="text-center text-white ">Recently Deleted</h4>
<div *ngIf="data!=undefined ;else display" class="mt-2">
    <div class="card  p-4 bg-primary text-white"  style="width:18rem;">
        <h5 class="card-title">Product: {{data.name}}</h5>
        <h6 class="card-subtitle mb-2 text-white">Description:{{data.description}}</h6>
        <p class="card-text">Id: {{data.id}}</p>
        <h6 class="card-text">Price: {{data.price}}</h6>
    </div>
</div>
<ng-template #display>
  <div class="card p-4 bg-primary text-white mt-2"  style="width:18rem;">
    <h5 class="card-title">No product has been Selected</h5>
    </div>
</ng-template>
   

