
<section id="hero">
 <div class="container">
 <div class="row">
 <div class="col-sm-6">
 <h1>Welcome<br><span class="into">to our Inventory Management System!</span></h1>
 <p class="text-dark "> 
    Our inventory management system is designed to help you keep track of your inventory, streamline your operations, and optimize your business processes. With our user-friendly platform, you can easily manage your inventory</p>
 <button type="button" class="btn btn-dark btn-large">Learn more</button>
 </div>
 <div class="col-sm-6">
 <img src="https://img.freepik.com/free-vector/warehouse-workers-using-laptop-carrying-boxes-wheelbarrow_74855-14202.jpg?w=1380&t=st=1682269260~exp=1682269860~hmac=8b6d33db4ee6b7e74aad67116773b63b8f2c9997d9dde94af0e47566959a5b40" class="w-100" alt="Software Development">
 </div>
 </div>
 </div>
 <div class="d-flex justify-content-center mt-4"><button class="btn btn-white border px-4 py-2" (click)="redirect()">Sign in</button></div>
</section>
