
<section id="hero">
 <div class="container">
 <div class="row">
 <div class="col-sm-6">
 <h1>Inventory<br><span class="into">Management</span></h1>
 <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
 <button type="button" class="btn btn-dark btn-large">Learn more</button>
 </div>
 <div class="col-sm-6">
 <img src="https://img.freepik.com/free-vector/warehouse-workers-using-laptop-carrying-boxes-wheelbarrow_74855-14202.jpg?w=1380&t=st=1682269260~exp=1682269860~hmac=8b6d33db4ee6b7e74aad67116773b63b8f2c9997d9dde94af0e47566959a5b40" class="w-100" alt="Software Development">
 </div>
 </div>
 </div>
</section>
