<h1 class="text-center p-2 headings">Dashboard</h1>
<main class="bg-white-300 flex-1 p-3 overflow-hidden">
    <!-- Stats Row Starts Here -->

    <div class="container">
        <!-- Card Sextion Starts Here -->

        <div class="d-flex flex-wrap justify-content-between flex-col md:flex-row lg:flex-row mx-2">
            <div class="shadow-lg bg-red-vibrant  mb-2 p-2 ">
                <div class="p-4 flex flex-col">
                    <h5 class="card-title text-primary">{{revenue|currency:'INR'}}</h5>
                    <h5 class="text-primary mt-4">
                        Total Revenue
                    </h5>
                </div>
            </div>

            <div class="shadow bg-info  mb-2 p-2 ">
                <div class="p-4">
                    <h5 class="card-title text-white ">{{cost|currency:'INR'}}</h5>
                    <h5 class="text-white  mt-4">
                        Total cost
                    </h5>
                </div>
            </div>

            <div class="shadow bg-warning  mb-2 p-2 ">
                <div class="p-4 flex flex-col">
                    <h5 class="text-success text-center">
                        {{countcustomer}}
                    </h5>
                    <h5 class="text-success mt-4">
                        Total Costumers
                    </h5>
                </div>
            </div>

            <div class="shadow bg-success border-l-8  mb-2 p-2 ">
                <div class="p-4 flex flex-col">
                    <h5 class="text-warning text-center">
                        {{total}}
                    </h5>
                    <h5 class="text-warning mt-4">
                        Total Products
                    </h5>
                </div>
            </div>

            <div *ngIf="val==1" class="shadow bg-primary  mb-2 p-2">
                <app-recently-deleted [data]="dDash"></app-recently-deleted>
            </div>
        </div>


        <!-- /Stats Row Ends Here -->
        <div class="my-5 container rounded shadow" id="bord">
            <app-bar-chart></app-bar-chart>
        </div>
        <!-- /Cards Section Ends Here -->
        <div class="shadow bg-white border  border-l-8  mb-2 p-2 mt-3">
           <h2 class="text-center text-warning mb-3">Product Needed to Restock</h2>
           <div class="d-flex justify-content-around">
            <div class="shadow bg-danger text-white  mb-2 p-2 " *ngFor="let item of restock">
                <div class="p-4 flex flex-col">
                    <h5 class="text-center">
                        Name:{{item.name}}
                    </h5>
                    <h5 class="text-center my-2">
                        Quantity:{{item.quantity}}
                    </h5>
                    <p class="text-center">Description:{{item.description}}</p>
                </div>
            </div>
           </div>
        </div>
        <!--/Profile Tabs-->
    </div>
</main>